.header{/*ヘッダーの場所決め*/
    position:fixed;
    font-family: 'Merriweather', serif;
    top:0;
    height: 150px;
    width:100%;
    left: 0px;
    color: white;
    background-color: darksalmon;
}
.sub-header {
    padding-left: 10px;
}

.header-logo {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 50px;
}

.header-list {
    font-size: 20px;
    color: black;
}
.header-list li {
    float: left;
    padding: 10px 10px;
    border: px solid black;
}
.pageBodyMain{/*メイン*/
    width: 600px;
    relative: 60px;
    float: left;
    margin-top: 150px;
/*    padding-top: 100px;*/
/*   padding-bottom: 60px;*/
}

/*おしらせ*/
.newlist{
    width: 600px;
    float: left;
    margin-top: 10px;
}
.articleDetaileFoot{
    width: 100px;
    relative: 10px;
    padding-left: 20px;
}
/*フッター*/
.footer{
    border-top: solid lpx #CCCCCC;
    margin-top: 15px;
}
.copyright{
    clear: both;
    background-clip: padding-box;
    background-color: darksalmon;
}

